
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:  #c11a5f;
  border-radius: 10px;
}
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
  
}

.filters label {
  margin-right: 10px; 
}
.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
 
  
}

.user-item {
  width: 300px;
  margin-bottom: 20px; 
}

.user-item > a {
  text-decoration: none !important; 
}

.filters select,
.filters input[type="number"] {
  padding: 8px; 

}
.user-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
 
  
}
.user-details img {
  border-radius: 50%; 
  width: 150px; 
  height: 150px; 
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loading-text {
  font-size: 24px; 
}

button {
  list-style: none; 
  padding: 8px 16px;
  background-color: #c11a5f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}
button:hover {
  background-color: rgba(76, 175, 80, 0.5);
}
input[type="number"] {
  padding: 8px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #c11a5f;
  font-size: 14px;

}

input[type="number"]:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #c11a5f;
  font-size: 14px;
}
select :focus{
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
select option:hover {
  background-color: lightgray !important; 
  color: black !important; 
}
select option:active {
  background-color: green;
}
.custom-dropdown select,
input[type="number"] {
  margin-top: 8px; 
}
.pagination {
  list-style-type: none; 
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px;
  cursor: pointer;
 
}
